@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu:700|Permanent+Marker');

ul {
      list-style-type: none;
    }

.main-content{
        padding: 15px ;
        font-size: 18px;
        min-height: 550px;
        background: #f2f2f2;
        margin-bottom: 15px;
        border-radius: 10px;
        font-family: 'Ubuntu', serif;
        box-shadow: 2px 2px 5px #888888;
      }
.index-content{
              padding: 15px ;
              font-size: 25px;
              min-height: 550px;
              background: #f2f2f2;
              margin-bottom: 15px;
              border-radius: 10px;
              font-family: 'Ubuntu', serif;
              box-shadow: 2px 2px 5px #888888;
}

.ufont{
              font-family: 'Ubuntu',serif;
              font-weight: 700;
              }
.logo-font{
              font-family: 'Permanent Marker',serif;
              font-size: 32px;
              }
.plus-font{
        font-size: 19px;
        padding: 3px;
        font-family: 'Ubuntu', serif;
        font-weight: 700;

      }
.navbar-inverse{
                box-shadow: 1px 1px 5px #888888;
}
