@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu:700|Permanent+Marker');

ul {
      list-style-type: none;
    }

.main-content{
        padding: 15px ;
        font-size: 18px;
        min-height: 550px;
        //background: #f2f2f2;
        margin-bottom: 15px;
        //border-radius: 10px;
        font-family: 'Ubuntu', serif;
        //box-shadow: 2px 2px 5px #888888;
      }
.index-content{
              padding: 15px ;
              font-size: 25px;
              min-height: 250px;
              //background: #f2f2f2;
              margin-bottom: 15px;
              //border-radius: 10px;
              font-family: 'Ubuntu', serif;
              //box-shadow: 2px 2px 5px #888888;
}

.ufont{
              font-family: 'Ubuntu',serif;
              font-weight: 700;
              }
.logo-font{
              font-family: 'Permanent Marker',serif;
              font-size: 32px;
              }
.plus-font{
        font-size: 14px;
        padding: 3px;
        font-family: 'Ubuntu', serif;
        font-weight: 600;

      }
.navbar-inverse{
                box-shadow: 1px 1px 5px #888888;
}

// Dropdown menu

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .btn-success {
    background-color: #3e8e41;
}


