    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=team.author.username) }}">
                    <img src="{{ team.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=team.author.username) }}">
                        {{ team.author.username }}
                    </a>
                {% endset %}
                <br>
                <span id="team{{ team.id }}">{{ team.user_id }} {{ team.abbr }}</span>
            </td>
        </tr>
    </table>
