{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-9">
    <div class="index-content">
      <h3>Welcome To Elderway</h3>
      Elderway is a playground for my apps and things I like. It may change  a
      considerable amout especially in the beginning because I am learning as
      I go.
       <p>
         The main feature at this point is the bible quiz schedule generator
         that I am working on.  I created a
         <a href="https://sourceforge.net/projects/quiz-schedule-generator/?source=directory" target="_blank">desktop</a>
         version of this previously.  You can download the source code as well as portable
         Windows version.
       </p>
       <p>

         I wanted to work on a
          <a  href="{{ url_for('main.qsg') }}">web version</a>. As of current you
          can add,edit and delete teams. You can even generate a schedule in Microsoft
          excel format.  What is missing vs the desktop version is the ability
          <del>create a PDF schedule</del> and to change some settings.  Like how many quizzes,
          length of lunch, title of the schedule and start time.  These things
          will be added over time. The big advantage for creating the web version
          is it being cross platform.

      </p>
    </div>
  </div>
</div>

{% endblock %}
