{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3">
                <div class="demo-content">.col-sm-3</div>
    </div>

    <div class="col-sm-9">
                <div class="demo-content bg-alt">.col-sm-9
                  <h3>{{type}}</h3>
                  <b>Quiz schedule Generator Desktop</b><br />
                  The desktop version at this point has more configuration then the
                  <a href="{{ url_for('main.qsg') }}">web version</a> <br />


                  In this section you will find the packages or information to have QSG working on your system.
                  Releases are organized by versions. Each version has a folder containing the following files:<br />


                  <b>QSG-Portable-x.y.z.zip:</b> Windows Binary Portable version
                  <b>QSG-src_x.y.z.tar.gz :</b> Source code. Good for Linux<br />


                  <b>NOTES:</b></li>
                  <b>Portable:</b> This download option has all the dependancies included.  This can be used on a USB drive.
                  <b>src:</b> This is just the source code but is good for Linux because it normally will have the required files already installed
                  <br />
                  <img source="{{ url_for('static', filename='os-windows.gif') }}"/><h4><b>Windows</b></h4>

                  You can download the latest Windows version here
                  <a class="btn btn-success" href="https://sourceforge.net/projects/quiz-schedule-generator/files/latest/download?source=directory">
                    Download
                  </a>
                  You download older versions here
                  <a class="btn btn-success" href="https://sourceforge.net/projects/quiz-schedule-generator/files/1.0/">
                    Download
                  </a>
                </div>
    </div>
  </div>
</div>

{% endblock %}
