{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div>
    <h3>{{type}}</h3>
    <b>Quiz schedule Generator Desktop</b><br />
    The desktop version at this point has more configuration then the
  <a href="{{ url_for('main.qsg') }}">web version</a> <br />


In this section you will find the packages or information to have QSG working on your system.
Releases are organized by versions. Each version has a folder containing the following files:<br />

<p>
  <b>QSG-Portable-x.y.z.zip:</b> Windows Binary Portable version<br />
  <b>QSG-src_x.y.z.tar.gz :</b> Source code. Good for Linux
</p>

<p>
<b>NOTES:</b>
<b>Portable:</b> This download option has all the dependancies included.  This can be used on a USB drive.<br />
<b>src:</b> This is just the source code but is good for Linux because it normally will have the required files already installed
</p>
  </div>
  <div>
    <br />
    <h4><b><img sorce="/static/os-windows.gif" />Windows</b></h4>
    You can download the latest Windows version here
    <a class="btn btn-success" href="https://sourceforge.net/projects/quiz-schedule-generator/files/latest/download?source=directory">
      Download
    </a>
  </div>

{% endblock %}
